/* Сброс стандартных стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для всего тела */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Контейнер, который центрирует весь контент */
.container {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Стиль для заголовков */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

/* Формы */
form {
    margin-bottom: 20px;
}

input[type="file"],
input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #1989d3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

/* Результаты */
#pdfResult, #siteResult {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
